[user]
    name = Lucas Wilson
    email = lkwilson96@gmail.com

[alias]
    ; helpers
    list-aliases = "!git config -l | grep alias | cut -c 7-"
    root = rev-parse --show-toplevel
    branch-name = rev-parse --abbrev-ref HEAD

    ; git everything
    st = status -sb
    f = fetch --tags --all --prune
    s = !git f && git st

    ; log
    l = log --decorate --oneline --graph
    lr = log --decorate --oneline --graph HEAD @{u}
    lh = !git l --color=always | head
    la = log --decorate --oneline --graph --all
    lref = log --decorate --oneline --graph --reflog

    ; branch
    c = checkout
    cb = checkout -b
    b = branch -vv
    br = branch -r
    bu = !git branch -u origin/$(git branch-name)

    ; pushing
    p = push
    po = !git p -u origin $(git branch-name)

    ; commits
    a = add -A
    cm = commit -m
    ca = commit --amend

    ; show
    ss = show --stat

    ; diff
    d = diff
    dc = diff --cached
    ds = diff --stat
    dr = diff @{u}
    drc = diff --cached @{u}
    drs = diff --stat @{u}
    drcs = diff --stat --cached @{u}

    ; remote
    rv = remote -v

    ; submodule
    su = submodule update

[core]
    excludesfile = ~/.gitignore
    autocrlf = false

[pull]
    ff = only

[init]
    defaultBranch = main
